{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@App": "./src/client/App.jsx",
        "@webpack": "./webpack.config.js"
      }
    }]
  ]
}
